.map {
    position: relative;
    width: 120%;
    margin-left: -10%;
}
.map__image {
    width: 100%;
    height: auto;
}
.map__more {
    position: absolute;
    right: 15%;
    bottom: 0;
}
.point {
    position: absolute;
    text-decoration: none;
    display: block;

    &:focus {
        .point__text {
            display: block !important;
        }
    }

}
.point__pulse {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $br1;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 0 transparentize($br1, 0.5);
    animation: pulse 1500ms infinite;
}
.point__text {
    position: absolute;
    font-size: rem(20);
    color: $br4;
    font-weight: 600;
    margin: 0;
    display: none;

    @include rwd(small) {
        display: block;
    }

    span {
        margin-top:-4px;
        font-size: rem(16);
        font-weight: 500;
        display: block;
    }
}

.point-berlin {
    &.point {
        left: 48.5%;
        top: 19%;
    }
    .point__text {
        left: 18px;
        top: -16px;
    }
}

.point-uk {
    &.point {
        left: 45%;
        top: 18%;
    }
    .point__text {
        left: -35px;
        top: -13px;

        span {
            margin-left: -43px;
            width: 70px;
        }
    }
}

.point-canada {
    &.point {
        left: 13%;
        top: 16%;
    }
    .point__text {
        left: 20px;
        top: -13px;

        span {
            margin-left: -12px;
            width: 70px;
        }
    }
}

.point-swiss {
    &.point {
        left: 47%;
        top: 23%;
    }
    .point__text {
        left: -47px;
        top: 12px;

        span {
            margin-left: 17px;
            width: 70px;
        }
    }
}
.point-hong-kong {
    &.point {
        left: 81%;
        top: 39%;
    }
    .point__text {
        width: 100px;
        left: -27px;
        top: -45px;

        @include rwd(small) {
            left: 17px;
            top: -13px;
        }

        span {
            margin-left: -5px;
        }
    }
}
.point-singapore {
    &.point {
        left: 79%;
        top: 56%;
    }
    .point__text {
        left: -30px;
        top: 7px;


        @include rwd(small) {
            left: 17px;
            top: -13px;
        }


        span {
            margin-left: 0;
        }
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 transparentize($br1, 0.5);
        box-shadow: 0 0 0 0 transparentize($br1, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}