.map {
    position: relative;
    width: 120%;
    margin-left: -10%;
}
.map__image {
    width: 100%;
    height: auto;
}
.map__more {
    position: absolute;
    right: 15%;
    bottom: 0;
}
.point {
    position: absolute;
    text-decoration: none;
    display: block;

    //&:focus {
    //    .point__text {
    //        display: block !important;
    //    }
    //}

}
.point__pulse {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $br1;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 0 transparentize($br1, 0.5);
    animation: pulse 1500ms infinite;
}
.point__text {
    position: absolute;
    font-size: 12px;
    color: $br4;
    font-weight: 600;
    margin: 0;
    //display: none;

    @include rwd(small) {
        font-size: rem(20);
    }

    span {
        margin-top:-4px;
        font-size: 9px;
        font-weight: 500;
        display: block;
        @include rwd(small) {
            font-size: rem(16);
        }
    }
}

.point-berlin {
    &.point {
        left: 48.5%;
        top: 19%;
    }
    .point__text {
        left: 12px;
        top: -16px;
        @include rwd(small) {
            left: 18px;
            top: -16px;
        }
    }
}

.point-uk {
    &.point {
        left: 45%;
        top: 18%;
    }
    .point__text {

        left: -26px;
        top: -26px;
        @include rwd(small) {
            left: -35px;
            top: -13px;
        }

        span {
            width: 70px;
            @include rwd(small) {
                margin-left: -43px;
            }
        }
    }
}

.point-canada {
    &.point {
        left: 13%;
        top: 16%;
    }
    .point__text {
        left: 14px;
        top: -5px;
        @include rwd(small) {
            left: 20px;
            top: -13px;
        }

        span {
            margin-left: -12px;
            width: 70px;
            @include rwd(small) {}
        }
    }
}

.point-swiss {
    &.point {
        left: 47%;
        top: 23%;
    }
    .point__text {
        left: -47px;
        top: 4px;
        @include rwd(small) {
            left: -47px;
            top: 12px;
        }

        span {
            margin-left: 17px;
            width: 70px;
            @include rwd(small) {}
        }
    }
}
.point-hong-kong {
    &.point {
        left: 81%;
        top: 39%;
    }
    .point__text {
        width: 100px;

        left: -36px;
        top: -23px;

        @include rwd(small) {
            left: -40px;
            top: -55px;
        }
        @include rwd(medium) {
            left: 17px;
            top: -13px;
        }

        span {

            @include rwd(medium) {
                margin-left: -5px;
            }
        }
    }
}
.point-singapore {
    &.point {
        left: 79%;
        top: 56%;
    }
    .point__text {
        left: -30px;
        top: 7px;


        @include rwd(small) {
            left: 17px;
            top: -13px;
        }


        span {
            margin-left: 0;

        }
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 transparentize($br1, 0.5);
        box-shadow: 0 0 0 0 transparentize($br1, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}