/*
html
body
 */
* {
    box-sizing: border-box;
}
body {
    font-family: $ff-primary;

    overflow-x: hidden;
    line-height: 1.4;


}
html {
    font-size: $base-font-size*0.8;
    @include rwd(small) {
        font-size: $base-font-size;
    }
}